@model OnlineDietManager.WebUI.Models.IngredientViewModel

@{
    if (string.IsNullOrEmpty(Model.Ingredient.Name)) {
        ViewBag.Title = "Create new Ingredient";
    } else {
        ViewBag.Title = string.Format("Edit {0}", Model.Ingredient.Name);
    }
}

<div class="panel">
    <div class="panel-heading">
        <p class="tableHeading text-center text-uppercase">@ViewBag.Title</p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm("Edit", "Ingredients"))
                {
                    @Html.Partial("_EditIngredientPartial", Model);
                }
            </div>
        </div>
    </div>
</div>