@model OnlineDietManager.WebUI.Models.IngredientViewModel

@{
    if (string.IsNullOrEmpty(Model.Ingredient.Name)) {
        ViewBag.Title = "Create new Ingredient";
    } else {
        ViewBag.Title = string.Format("Edit {0}", Model.Ingredient.Name);
    }
}

<h3>@ViewBag.Title</h3>

@using (Html.BeginForm("Edit", "GeneralIngredients"))
{
    @Html.Partial("_EditIngredientPartial", Model);
}