@model OnlineDietManager.Domain.CoursesManagement.ActiveCourse

@if (Model == null)
{
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h2 class="activeCourseHeading text-center">No course is active right now</h2>
        </div>
    </div>
}
else
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="activeCourseHeading text-center">@Model.Course.Description</h2>
        </div>
        <div class="panel-body">
            @for (int i = 0; i < Model.Course.Days.Count; ++i)
            {
                var day = Model.Course.Days[i];
                @Html.Partial("_DayPartial", new OnlineDietManager.WebUI.Models.DayViewModel
                       {
                           Day = day,
                           CalendarDate = Model.StartDate.Add(new TimeSpan(i, 0, 0, 0))
                       })
            }
        </div>
        <div class="panel-footer">
            @Html.Partial("_StopEditCoursePartial")
        </div>
    </div>
}
