@model OnlineDietManager.WebUI.Models.ListDaysViewModel

<div class="col-xs-2">
    <div class="panel panel-info">
        <div class="panel-heading text-centrified"><p>Days</p></div>
        <div class="panel-body">
                @{
                    int i = 1;
                    foreach (var day in Model.Days)
                    {                        
                        @Html.ActionLink(
                            linkText: string.Format("Day #{0}", i),
                            actionName: "ChooseDay",
                            controllerName: "Days",
                            routeValues: new { dayId = day.ID, returnUrl = Request.Url },
                            htmlAttributes: new { @class = "btn btn-info btn-group-justified" }
                        )
                        ++i;
                    }
                }
        </div>

        <div class="panel-footer">
            @using (@Html.BeginForm("Create", "Days"))
            {
                @Html.Hidden("CourseId", Model.CourseRefId)
                @Html.Hidden("ReturnUrl", Request.Url)
                
                <button type="submit" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                
                @*<button type="submit" class="btn btn-group-justified">
                    Add day
                </button>*@
            }
        </div>
    </div>
</div>
<div class="col-xs-9">

</div>