@model OnlineDietManager.WebUI.Models.ListDaysViewModel

<div class="col-xs-2">
    <div class="panel panel-default">
        <div class="panel-heading text-centrified">
            <h4>Days</h4>
        </div>
        <div class="panel-body">
                @{
                    int i = 1;
                    foreach (var day in Model.Days)
                    {
                        @Html.ActionLink(string.Format("Day #{0}", i),
                                "ChooseDay",
                                new { CVM = Model, index = i - 1 },
                                new { @class = "btn btn-link btn-group-justified" })
                        ++i;
                    }
                }
        </div>

        <div class="panel-footer">
            @using (@Html.BeginForm("Create", "Days"))
            {
                @Html.Hidden("CourseId", Model.CourseRefId)
                @Html.Hidden("ReturnUrl", Request.Url)
                
                <button type="submit" class="btn btn-group-justified">
                    Add day
                </button>
            }
        </div>
    </div>
</div>
<div class="col-xs-9">

</div>