@model string /*Return Url*/

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a href="@Model" class="btn btn-default">Cancel</a>
    </div>
</div>