@model OnlineDietManager.Domain.CoursesManagement.ActiveCourse
@using OnlineDietManager.Domain.UsersManagement

<div class="btn-group btn-group-sm">
    <div class="btn-group">
        @using (@Html.BeginForm("StopCourse", "ActiveCourses"))
        {
            @Html.Hidden("returnUrl", Request.Url)

            <button type="submit" class="btn btn-warning btn-sm">
                <div class=" glyphicon glyphicon-stop"></div>
            </button>
        }
    </div>

    <div class="btn-group">
        <a href="@Url.Action("Edit", "Courses", new { Id = Model.ID, returnUrl = Request.Url })" 
           class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit" />
        </a>
    </div>
</div>
