@*@model string /*Return Url*/*@

<div class="form-group">
    <div class="center-block">
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-warning">Stop</a>
        <!--<input type="submit" value="Stop" class="btn btn-warning" />-->
    </div>
</div>
