<<<<<<< HEAD
﻿@*@model string /*Return Url*/*@

<div class="form-group">
    <div class="center-block">
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-warning">Stop</a>
        <!--<input type="submit" value="Stop" class="btn btn-warning" />-->
=======
﻿@model OnlineDietManager.Domain.CoursesManagement.ActiveCourse
@using OnlineDietManager.Domain.UsersManagement

<div class="btn-group btn-group-sm">
    <div class="btn-group">
        @using (@Html.BeginForm("StopCourse", "ActiveCourses"))
        {
            @Html.Hidden("returnUrl", Request.Url)

            <button type="submit" class="btn btn-warning btn-sm">
                <div class=" glyphicon glyphicon-stop"></div>
            </button>
        }
>>>>>>> coursebilder
    </div>

    <div class="btn-group">
        <a href="@Url.Action("Edit", "Courses", new { Id = Model.ID, returnUrl = Request.Url })" 
           class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit" />
        </a>
    </div>
</div>
