body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Verdana;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* My styles*/
.myFooter {
    font-weight: bold;
}
#ingredients-list-box {
    height: 300px;
    overflow: scroll;
}

th, td {
    text-align: center;
}

.activeCourseHeading {
    font-weight: bold;
}

.panelHeading {
    font-weight: bold;
    font-size: larger;
}

.tableHeading {
    font-weight: bold;
    font-size: large;
}

.activeCourseDateHeading {
    font-size: larger;
    font-weight: bold;
}

.mealTime {
    font-family: Consolas;
    font-size: larger;
    font-weight: bold;
}

.mealDescription {
    font-size: larger;
    font-family: 'Century Gothic';
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}