@model OnlineDietManager.WebUI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary(true)

<div class="panel">
    @using (Html.BeginForm())
    {
        <div class="panel-group">
            @Html.EditorForModel()
        </div>
        <div class="panel-group">
            <button class="btn btn-success" type="submit">Register</button>
        </div>
    }
</div>