@model OnlineDietManager.WebUI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary(false)

<div class="panel">
    @using (Html.BeginForm())
    {
        <div class="panel-group">
            @Html.EditorForModel()
        </div>
        <div class="panel-group">
            @Html.ActionLink("Register", "Register", "Account", new { @class = "btn btn-success" })
        </div>
    }
</div>