Назва: Менеджер дієт;
	Опис. 
Програма дозволяє використовувати бібліотеку готових страв та інгредієнтів для створення курсів дієт.
Користувач має доступ до глобальної бібліотеки страв та інгредієнтів, а також може створювати власні.
Курси можна вибирати з глобальної бібліотеки курсів, а також створювати власні. 
Курс можна запустити, призначивши йому дату початку.
(Поточний день у запущеному курсі позначається, умовно, зеленим кольором; попередні дні, умовно, - сірим).

Глобальна бібліотека (страв, курсів) - бібліотека (страв, курсів), доступна для перегляду всім користувачам системи.
Локальна бібліотека (страв, курсів) - бібліотека (страв, курсів), яка містить (страви, курси), створені користувачем та/або обрані з глобальної бібліотеки.


	Ролі:
- гість;
- авторизований користувач;
- адмін;